<div class="container">
    <div style="padding-top: 2%;">
      
      <table class="main_view" align="center" *ngIf="!searchResults">
        
        <tr style="font-size:14pt">
          
        </tr>
        <tr>
          
        </tr>
        <tr style="font-size:13pt">
          
        </tr>
      </table>
  
    </div>
  
  
    <!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
      (onAddressChange)="handleAddressChange($event)" /> -->
  
  </div>